<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#f6d857">
    <meta name="msapplication-TileColor" content="#555555">
    <meta name="theme-color" content="#f6d857">

    <meta property="og:title" content="Поделись своей историей!"/>
    <meta property="og:description" content="Проект, который объединяет участников молодежных проектов, руководителей и сотрудников молодежных департаментов, команд и сообществ прошлых лет."/>
    <meta property="og:image" content="/static/favicon/og.jpg"/>
    <meta property="og:url" content="вездеход72.рф"/>
    <meta property="og:locale" content="ru"/>
    <meta name="twitter:card" content="summary_large_image">

    {% if path === "home" %}
      <meta name="yandex-verification" content="bd6272b772c1824b" />
    {% endif %}
  </head>
  <body>
    {% if path !== "home" %}
      {% include "./partials/navbar.html" %}
    {% endif %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>