body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
}
.body-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.body-grid > .container {
  width: 100%;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
h1,
.section-heading ,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  padding-top: 2em;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 67em) {
  .container {
    max-width: 64rem;
  }
}
@media (min-width: 100em) {
  html {
    font-size: 125%;
  }
}

.link--img {
  text-decoration: none;
}
.link--solid {
  color: inherit;
}
.link--solid[href]:hover {
  color: #F6D857;
}

.section-heading {
  font-size: 2em;
  margin: 0;
  line-height: 110%;
  font-weight: bold;
}
.section-heading--small {
  font-weight: inherit;
  font-size: 1.45em;
}
.section-subheading {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 85%;
  font-weight: inherit;
  margin-top: 0;
}
@media (min-width: 67em) {
  .section-heading {
    font-size: 2.5em;
  }
  .section-heading--small {
    font-size: 1.8em;
  }
  .section-subheading {
    font-size: 100%;
    font-weight: inherit;
  }
}

/* Stories-header */
.stories-hero {
  width: 85%;
  margin-left: 15%;
  height: auto;
  margin-bottom: -2em;
}
.stories-title {
  color: #fff;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  line-height: 1.2;
}
.stories-title::before {
  content: '';
  background-color: #F6D857;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: -.5em;
  left: 0;
  width: 90%;
  box-sizing: border-box;
}
@media (min-width: 48em) {
  .stories-hero {
    width: 66.25%;
    margin-left: 33.75%;
    margin-bottom: -7em;
  }
  .stories-title {
    font-size: 4.5em;
  }
  .stories-title::before {
    top: -.5em;
    bottom: -.5em;
    left: -1em;
    width: 100%;
  }
}
@media (min-width: 67em) {
  .stories-hero {
    margin-bottom: -11.5em;
  }
  .stories-title {
    font-size: 6.5em;
  }
  .stories-title::before {
    width: 110%;
    bottom: -.75em;
  }
}

/* Stories description */
.stories-description p {
  margin-top: 0;
}
.stories-description__wrapper {
  padding-top: 3em;
  padding-bottom: 4em;
}
@media (min-width: 48em) {
  .stories-description__wrapper {
    padding-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5em;
    align-items: start;
  }
  .stories-description {
    font-size: 125%;
  }
}
@media (min-width: 67em) {
  .stories-description__wrapper {
    padding-top: 8em;
    column-gap: 5em;
    padding-bottom: 8em;
  }
}

/* Stories logos */
.stories-logos__wrapper {
  padding-top: 1.5em;
}
.stories-logos {
  display: grid;
  list-style: none;
  padding: 1em 0 0;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}
.stories-logos__item {
  text-align: center;
}
.stories-logos__img {
  width: auto;
  height: auto;
  max-height: 6em;
  max-width: 100%;
}
@media (min-width: 48em) {
  .stories-logos__wrapper {
    padding-top: 0;
  }
  .stories-logos {
    gap: 2em;
  }
}
@media (min-width: 67em) {
  .stories-logos__wrapper {
    text-align: center;
  }
  .stories-logos {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stories-logos__img {
    max-height: 4em;
  }
}

/* Stories quotes */
.stories-quote {
  position: relative;
  margin-top: 3em;
}
.stories-quote::before {
  content: "„";
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #F6D857;
  position: absolute;
  font-size: 5em;
  z-index: -1;
  left: -.4em;
  top: -.25em;
  display: block;
  line-height: 0;
}
.stories-quote__text {
  margin: 0 0 1.75em;
}
.stories-quote__author {
  display: flex;
}
.stories-quote__author_img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: .75em;
  width: 4em;
  height: 4em;
}
.stories-quote__author_name {
  font-size: 125%;
  display: block;
  line-height: 1.2;
  margin-top: .25em;
}
.stories-quote__author_job {
  font-size: 85%;
  margin: .5em 0 0;
}

/* Stories themes */
.stories-themes {
  background-color: #f8f8f8;
  padding-top: 2.5em;
  padding-bottom: 2em;
}
.stories-themes__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em;
  margin-top: 2em;
}
.stories-themes__card {
  background-color: #fff;
  padding: 1.5em 1.25em 3em;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  flex-basis: 12em;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: 90% 103%;
  background-size: auto 5em;
}
.stories-themes__card_title {
  margin: 0;
  font-weight: inherit;
  font-size: 150%;
}

/* Stories social */
.stories-social {
  padding-top: 3em;
  padding-bottom: 3em;
}
.stories-social__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.stories-social__heading .section-heading {
  flex-basis: 14em;
}
.stories-social__heading_link {
  display: inline-block;
  padding: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.stories-social__heading_link:not(:last-child) {
  margin-right: .75em;
}
.stories-social__heading_link--fb {
  background-image: url('/static/img/social/fb.svg');
}
.stories-social__heading_link--ig {
  background-image: url('/static/img/social/ig.jpg');
}
.stories-social__heading_link--vk {
  background-image: url('/static/img/social/vk.svg');
}
.stories-social__heading_link:hover {
  opacity: .5;
}
.stories-social__cta {
  font-size: 125%;
}
.stories-social__cta_btn {
  border: 2px solid #F6D857;
  background-color: #fff;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: .25em .5em .3em;
  margin: .25em 0;
  cursor: pointer;
}
.stories-social__cta_btn:hover {
  background-color: #F6D857;
}
@media (min-width: 48em) {
  .stories-social__cta {
    font-size: 115%;
  }
  .stories-social__cta_btn {
    margin-left: .4em;
  }
}
@media (min-width: 67em) {
  .stories-social__cta {
    font-size: 150%;
  }
  .stories-social__heading_link {
    padding: 2.25em;
  }
  .stories-social__heading_link:not(:last-child) {
    margin-right: 1em;
  }
}

/* Stories form */
.stories-web {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4em;
}
.stories-web__wrapper {
  background: linear-gradient(to top, rgb(255, 255, 240), rgba(255, 255, 255, 0)), #FFF4D4;
  padding: 2em 1.5em 2em;
  flex-basis: 18em;
  flex-grow: 1;
  max-width: 34em;
}
.stories-web__form {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.form__row {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: .75em;
}
.form__row-full,
.form__row--tel {
  flex-basis: 100%;
}
.form__label {
  display: flex;
  flex-direction: column;
}
.form__input {
  margin: .4em 0 0;
  font: inherit;
  background: #FFF;
  border: 1px solid #C4C4C4;
  border-radius: .25em;
  padding: .5em .75em;
}
.form__input:hover {
  border-color: #F6D857;
}
textarea.form__input {
  resize: vertical;
  min-height: 4em;
}
.form__btn {
  background-color: #F6D857;
  color: #1E1919;
  border: 1px solid #F6D857;
  font: inherit;
  font-weight: bold;
  border-radius: .25em;
  padding: .5em .75em;
  flex-grow: 1;
  text-align: center;
  display: block;
  margin: .4em 0 0;
  -webkit-appearance: none;
}
.form__btn:enabled,
span.form__btn {
  cursor: pointer;
}
.form__btn:enabled:hover,
span.form__btn:hover {
  background-color: #F6E867;
}
.stories-web__cta {
  padding: 13em .5em 2.25em;
  background-color: #1E1919;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-basis: 16em;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  max-width: 36em;
}
.stories-web__cta_text {
  padding: 1.25em 1em 1.75em;
  background-color: #fff;
  max-width: 14em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 51em) {
  .form__row--tel {
    flex-basis: auto;
    margin-right: 2em;
  }
}

@media (min-width: 67em) {
  .stories-web__wrapper {
    padding: 2.5em 6em 3em 3em;
    max-width: 26em;
  }
  .stories-web__cta {
    padding-bottom: 3em;
  }
  .form__input,
  .form__btn {
    font-size: 115%;
  }
}

/* Stories subscribe */
.stories-subscribe__wrapper {
  background-color: #f8f8f8;
  padding: 2em 1.5em 2.5em;
}
.stories-subscribe__form {
  margin-top: 1.5em;
}
.stories-subscribe__form_inputs {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: -1.5em;
}
.stories-subscribe__form_inputs .form__row {
  margin-right: 1.5em;
  flex-basis: 13em;
}
.stories-subscribe__form_checkboxes {
  display: flex;
  flex-direction: column;
}
.form__label--checkbox {
  display: flex;
  align-items: flex-start;
}
.form__legend {
  margin-bottom: 1em;
}
.form__checkbox + span {
  display: inline-block;
  margin-right: .75em;
  background: #FFF;
  border: 1px solid #C4C4C4;
  border-radius: .25em;
  padding: 1em;
  cursor: pointer;
}
.form__checkbox:enabled + span:hover {
  border-color: #F6D857;
}
.form__checkbox:checked + span {
  background: url("data:image/svg+xml,%3Csvg width='47' height='43' viewBox='0 0 47 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 19L20.5 36L43 2.5' stroke='%23FFCB21' stroke-width='8'/%3E%3C/svg%3E") center /1.5em no-repeat #fff;
}
.form__file:focus + .form__btn,
.form__checkbox:focus + span {
  outline-style: auto;
  outline-color: -webkit-focus-ring-color;
}
.form__checkbox:disabled + span {
  cursor: default;
  background-color: #eee;
}
.form__checkbox_text {
  display: inline-block;
  line-height: 1.34;
}
.form__checkbox_text b {
  display: block;
  font-size: 115%;
  margin-bottom: .15em;
}
@media (min-width: 48em) {
  .stories-subscribe__wrapper {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .stories-subscribe__form {
    display: flex;
    align-items: flex-start;
  }
  .stories-subscribe__form_inputs {
    margin-right: 3em;
    display: inline-block;
    flex-basis: 15em;
    flex-shrink: 0;
  }
  .stories-subscribe__form_inputs .form__row {
    margin-right: 0;
  }
}
@media (min-width: 67em) {
  .stories-subscribe__wrapper {
    padding: 3em 7em 4em;
  }
  .stories-subscribe__form_inputs {
    margin-right: 5em;
    flex-basis: 20em;
  }
}

/* Stories team */
.stories-team {
  padding-top: 3em;
}
.stories-team__list {
  padding: 0 0 3em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 2em -1.5em 0 0;
}
.stories-team__person {
  display: inline-flex;
  flex-basis: 20em;
  margin-right: 1.5em;
  flex-grow: 1;
  margin-bottom: 1.5em;
}
.stories-team__person_photo {
  width: 4em;
  height: 4em;
  margin-right: 1em;
  border-radius: 50%;
}
.stories-team__person_name {
  font-size: 1.25em;
}
.stories-team__person_job {
  margin: .25em 0 .5em;
}
.stories-team__person_link {
  display: inline-block;
  padding: .75em;
  margin-right: .5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.stories-team__person_link:hover {
  opacity: .5;
}
.stories-team__person_link--vk {
  background-image: url('/static/img/social/vk_mono.svg');
}
.stories-team__person_link--ig {
  background-image: url('/static/img/social/ig_mono.svg');
}
.stories-team__person_link--email {
  background-image: url('/static/img/social/email_mono.svg');
}
@media (min-width: 67em) {
  .stories-team__person {
    align-items: center;
  }
  .stories-team__person:nth-child(2n-1) {
    margin-right: 5em;
  }
  .stories-team__person_photo {
    width: 10em;
    height: 10em;
    margin-right: 1em;
    border-radius: 0;
  }
}

/* Footer */
.footer {
  border-top: 1px solid #d2d1d1;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer .link--img {
  margin-right: 2em;
  margin-bottom: 1em;
}