---
layout: default
title: Вездеход — 2021
description: Проект, который объединяет участников молодежных проектов, руководителей и сотрудников молодежных департаментов, команд и сообществ прошлых лет.
path: home
---
{% if stories.settings.heroSrc %}
  <img class="stories-hero" src="{{stories.settings.heroSrc}}" alt="Молодежная политика Тюменской области" width="320" height="180">
{% endif %}
<h1 class="stories-title container">{{stories.settings.title}}</h1>

<div class="container stories-description__wrapper">
  <div class="stories-description">
    {% for item in stories.settings.description %}
      <p>{{item.text}}</p>
    {% endfor %}
  </div>
  <div class="stories-logos__wrapper">
    {% if stories.settings.logos %}
      <h2 class="section-subheading">Молодёжные команды Тюменской области</h2>
      <ul class="stories-logos">
        {% for logo in stories.settings.logos %}
        <li class="stories-logos__item"><img class="stories-logos__img" width="320" src="{{logo.src}}" alt="{{logo.alt}}"></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
<div class="stories-quotes{% if stories.settings.quotes | length > 2 %} stories-quotes--carousel{% endif %}">
  <div class="stories-quotes__list container">
    {% for item in stories.settings.quotes %}
      <div class="stories-quote">
        <blockquote class="stories-quote__text">{{item.quote}}</blockquote>
        <div class="stories-quote__author">
          {% if item.authorSrc %}
            <img class="stories-quote__author_img" src="{{item.authorSrc}}" alt="" width="85" height="85">
          {% endif %}
          <div>
            <b class="stories-quote__author_name">{{item.author}}</b>
            <p class="stories-quote__author_job">{{item.authorJob}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="stories-quotes__btn" type="button" hidden>→</button>
</div>
{% if stories.settings.quotes | length > 2 %}
  <script>
    const nextQuoteBtn = document.querySelector('.stories-quotes__btn');
    const quotesList = document.querySelector('.stories-quotes__list');
    const quotes = document.getElementsByClassName('stories-quote');
    quotes[0].classList.add('stories-quote--active');
    nextQuoteBtn.addEventListener('click', function() {
      quotesList.classList.add('stories-quotes--only-active');
      let activeQuote = quotesList.querySelector('.stories-quote--active');
      activeQuote.classList.add('stories-quote--fading');
      setTimeout(function () {
        if (activeQuote === quotes[quotes.length - 1]) {
          quotes[0].classList.add('stories-quote--active');
        } else {
          activeQuote.nextElementSibling.classList.add('stories-quote--active');
        }
        activeQuote.classList.remove('stories-quote--active');
        activeQuote.classList.remove('stories-quote--fading');
      }, 300)
    })
  </script>
{% endif %}
{% include "./_includes/partials/themes.html" %}
<section class="container stories-social">
  <h2 class="section-subheading">Если у тебя есть социальные сети</h2>
  <div class="stories-social__heading">
    <p class="section-heading">Выложи пост со своей историей в соцсеть</p>
    <p class="stories-social__heading_links">
      <a href="https://www.facebook.com/sharer.php?u=xn--72-dlciaebo9d9c.xn--p1ai" class="stories-social__heading_link stories-social__heading_link--fb" title="Поделиться в Фейсбуке" target="_blank" rel="noopener"><span class="visually-hidden">Фейсбук</span></a>
      <a href="https://www.instagram.com" class="stories-social__heading_link stories-social__heading_link--ig" title="Поделиться в Инстаграме" target="_blank" rel="noopener"><span class="visually-hidden">Инстаграм</span></a>
      <a href="http://vk.com/share.php?url=https://xn--72-dlciaebo9d9c.xn--p1ai" class="stories-social__heading_link stories-social__heading_link--vk" title="Поделиться во ВКонтакте" target="_blank" rel="noopener"><span class="visually-hidden">ВКонтакте</span></a>
    </p>
  </div>
  <ol class="stories-social__cta">
    <li>Отметь людей, сопричастных к этой истории;</li>
    <li>Упомяни, в какой роли тебе интересно включаться в молодежные проекты:
      <ul>
        <li><b>Эксперт</b> — принимать участие в проектах как спикер, член жюри;</li>
        <li><b>Ментор</b> — включаться в качестве карьерного или проектного наставника;</li>
        <li><b>Спонсор</b> — делать финансовые вложения в развитие молодежных инициатив и лидеров.</li>
      </ul>
    </li>
    <li>Добавь хештег <button class="stories-social__cta_btn" type="button" title="Скопировать" onclick="let str = this.innerText; if (navigator.clipboard) {navigator.clipboard.writeText(str);
		} else {
			let el = document.createElement('textarea');
			el.value = str;
			document.body.appendChild(el);
			el.select();
			document.execCommand('copy');
			document.body.removeChild(el);
		}
		alert('Скопировано');">{{stories.settings.hashtag}}</button>
    </li>
  </ol>
</section>

<section class="stories-web">
  <div class="stories-web__wrapper">
    <h2 class="section-subheading">Если у тебя нет социальных сетей</h2>
    <p class="section-heading">{{stories.settings.formTitle}}</p>
    <form class="stories-web__form" method="post" name="История" enctype="multipart/form-data" action="https://folga.digital/api/mail.php">
      <input type="hidden" name="formName" value="Новая история">
      <input type="hidden" name="formEmail" value="{{stories.settings.email}}">
      <input type="hidden" name="formSuccess" value="https://xn--72-dlciaebo9d9c.xn--p1ai/success/">
      <input type="hidden" name="formBot" value="">
      <p class="form__row form__row-full">
        <label class="form__label">Фамилия Имя Отчество <input class="form__input" type="text" name="name" placeholder="Иванов Иван Иванович" required></label>
      </p>
      <p class="form__row form__row-full">
        <label class="form__label">Электронная почта <input class="form__input" type="email" name="email" placeholder="primer@mail.ru" required></label>
      </p>
      <p class="form__row form__row--tel">
        <label class="form__label">Контактный телефон <input class="form__input" type="tel" name="tel" placeholder="+7 999 999-99-99" size="18"></label>
      </p>
      <p class="form__row">
        <label class="form__label">Яркая фотография <input class="visually-hidden form__file" type="file" name="photo" accept="image/*" onchange="this.nextElementSibling.textContent = '✓';"><span class="form__btn">Выбрать</span></label>
      </p>
      <p class="form__row form__row-full">
        <label class="form__label">Ваша история <textarea class="form__input" name="story" placeholder="Не забудь упомянуть людей, с которыми ты участвовал в проектах." rows="6" required></textarea></label>
      </p>
      <h3 class="section-heading section-heading--small">Хочешь быть в&nbsp;курсе молодежных событий и&nbsp;проектов Тюменской области и&nbsp;включаться в&nbsp;них?</h3>
      <fieldset>
        <legend class="form__legend">Отметь опции, которые тебе интересны:</legend>
        <p class="form__row">
          <label class="form__label--checkbox"><input class="visually-hidden form__checkbox" type="checkbox" name="options[]" value="expert"><span></span> <span class="form__checkbox_text"><b>Эксперт</b> принимай участие в проектах как спикер, член жюри</span></label>
        </p>
        <p class="form__row">
          <label class="form__label--checkbox"><input class="visually-hidden form__checkbox" type="checkbox" name="options[]" value="mentor"><span></span> <span class="form__checkbox_text"><b>Ментор</b> включайся в качестве карьерного или проектного наставника</span></label>
        </p>
        <p class="form__row">
          <label class="form__label--checkbox"><input class="visually-hidden form__checkbox" type="checkbox" name="options[]" value="sponsor"><span></span> <span class="form__checkbox_text"><b>Спонсор</b> делай финансовые вложения на развитие молодежных инициатив / лидеров</span></label>
        </p>
      </fieldset>
      <input class="form__btn" type="submit" value="Поделиться историей">
    </form>
  </div>
  <div class="stories-web__cta"
    {% if stories.settings.formBg %}
    style="background-image: url('{{stories.settings.formBg}}')"
    {% endif %}
  >
    {% if stories.settings.formText %}
      <div class="stories-web__cta_text">{{stories.settings.formText}}</div>
    {% endif %}
  </div>
</section>

<div class="stories-vk">
  <script src="https://vk.com/js/api/openapi.js?169"></script>
  <div class="container stories-vk__wrapper">
    <p class="stories-vk__text">Следи за новостями проекта в группе ВКонтакте</p>
    <div id="vk_groups"></div>
  </div>
  <script>
    VK.Widgets.Group("vk_groups", {mode: 3, no_cover: 1, color1: 'FFF', color2: '333', color3: '000', width: '260'}, 118919001);
  </script>
</div>

{% if stories.team.items %}
<div class="stories-team container">
  <h2 class="section-heading">Команда проекта</h2>
  <ul class="stories-team__list">
    {% for item in stories.team.items %}
      <li class="stories-team__person">
        {% if item.src %}
          <img class="stories-team__person_photo" src="{{item.src}}" alt="" width="300" height="300">
        {% endif %}
        <div>
          <b class="stories-team__person_name">{{item.name}}</b>
          <p class="stories-team__person_job">{{item.job}}</p>
          {% if item.vk %}
            <a href="{{item.vk}}" class="stories-team__person_link stories-team__person_link--vk"><span class="visually-hidden">ВКонтакте</span></a>
          {% endif %}
          {% if item.ig %}
            <a href="{{item.ig}}" class="stories-team__person_link stories-team__person_link--ig"><span class="visually-hidden">Инстаграм</span></a>
          {% endif %}
          {% if item.email %}
          <a href="mailto:{{item.email}}" class="stories-team__person_link stories-team__person_link--email"><span class="visually-hidden">{{email}}</span></a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<script>
  const telInputs = document.querySelectorAll('input[type=tel]');
  for (let i = 0; i < telInputs.length; i++) {
    telInputs[i].addEventListener('input', function(e) {
      let cleaned = e.target.value.replace(/\D/g, '');
      if (['7','8'].indexOf(cleaned[0]) >= 0) {
        cleaned = cleaned.substring(1);
      }
      let match = cleaned.match(/^(\d{3})(\d{3})(\d{2})(\d{2})$/);
      if (match) {
        e.target.value = ['+7 ', match[1], ' ', match[2], '-', match[3], '-', match[4]].join('');
      }
    });
  }
</script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>